section
        div
            div.section_mno
                img(src="img/logo_1.png")
            div.section_mno
                ul
                    li خانه

                    li درباره ما

                    li کارسول

                    li پاگس

                    li بلوگ

                    li کانتک

            div.section_mno
                div
                    button.bloo-but ثبت نام کنید

                    button.with-but ورود
