link(href="style/style_mno_heder.scss")
section.mno
    ul
        li
            a
                img
        li
            a"صفحه اصلی"
        li
            a"درباره ما"
        li
            a "تصاویر"
        li
            a"ویدیو"
        li
            a "مجلات"
        li
            a "تماس با ما"

        li
            a "فوتر"